<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon
          name="pizza"
          slot="start"
        ></ion-icon>

        <ion-label>Pizza</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>